 <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="/create" > Create </a>
            <mat-divider></mat-divider>
            <a mat-list-item matTooltip="Click to check which positions are currently in biggest demand" matTooltipPosition="after" href="http://probaseballexperience.jcink.net/index.php?showtopic=2182" target="_blank">
              Position Tracker
             </a>
             <a mat-list-item matTooltip="Click to read about attributes in depth" matTooltipPosition="after" href="http://probaseballexperience.jcink.net/index.php?showtopic=2570" target="_blank">
               Attribute Guide
             </a>
             <a mat-list-item matTooltip="Click to find about first steps in the league" matTooltipPosition="after" href="http://probaseballexperience.jcink.net/index.php?showtopic=54" target="_blank">
               New Player Guide
             </a>
             <a  mat-list-item matTooltip="Click to see sim results" matTooltipPosition="after" href="http://pbesim.com" target="_blank">
               PBE Index
             </a>
             <a mat-list-item matTooltip="Click to join league discord, great place to ask questions" matTooltipPosition="after" href="https://discord.gg/wMhQcxW" target="_blank">
               League Discord
             </a>
         </mat-nav-list></mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
  