<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" hidden>
      <ng-template matStepLabel>Batter/Pitcher</ng-template>
      <div>
        <button id="step1button" mat-button matStepperNext>Next</button>
      </div>
    </form>
    <div fxLayout="row" fxFlexFill fxLayout.lt-md="column">
      <div fxFlex="50%" fxLayoutAlign="stretch" class="Container" (click)="transitionStep1('Batter')">
        <img class="Image" src="../../assets/batter.jpg">
        <div class="Overlay">
          <div class="Text">You choose Batter</div>
        </div>
      </div>
      <div fxFlex="50%" fxLayoutAlign="stretch" class="Container" (click)="transitionStep1('Pitcher')">
        <img class="Image" src="../../assets/pitcher.jpeg">
        <div class="Overlay">
          <div class="Text">You choose Pitcher</div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" hidden>
      <ng-template matStepLabel>Type</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button id="step2button" mat-button matStepperNext>Next</button>
      </div>
    </form>
    <div *ngIf="playerType=='Batter'">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('speed')">
          <img class="Image" src="../../assets/speed.jpg">
          <div class="Overlay">
            <div class="Text">Speed Demon</div>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('contact')">
          <img class="Image" src="../../assets/contact.jpeg">
          <div class="Overlay">
            <div class="Text">Contact Hitter</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('balanced')">
          <img class="Image" src="../../assets/balanced.jpg">
          <div class="Overlay">
            <div class="Text">Balanced Approach</div>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('power')">
          <img class="Image" src="../../assets/power.jpg">
          <div class="Overlay">
            <div class="Text">Power Batter</div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="playerType=='Pitcher'" fxLayout="row" fxFlexFill fxLayout.lt-md="column">
      <div fxFlex="50%" class="Container" (click)="transitionStep2('starter')">
        <img class="Image" src="../../assets/starter.jpeg">
        <div class="Overlay">
          <div class="Text">Starting Pitcher</div>
        </div>
      </div>
      <div fxFlex="50%" class="Container" (click)="transitionStep2('reliever')">
        <img class="Image" src="../../assets/closer.jpg">
        <div class="Overlay">
          <div class="Text">Reliever/Closer</div>
        </div>
      </div>
    </div>
    <div *ngIf="playerType != 'Batter' && playerType != 'Pitcher'">Chose either pitcher or batter in Step 1</div>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form hidden [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Archetype</ng-template>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button id="step3button" mat-button matStepperNext>Next</button>
      </div>
    </form>
    <div *ngIf="playerType=='Batter'">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayoutAlign="fit" fxFlex="33.3%" class="Container" (click)="transitionStep3('strongarm')">
          <img class="Image" src="../../assets/strongarm.jpg">
          <div class="Overlay">
            <div class="Text">Strong Arm Fielder</div>
          </div>
        </div>
        <div fxLayoutAlign="fit" fxFlex="33.4%" class="Container" (click)="transitionStep3('balancedf')">
          <img class="Image" src="../../assets/balancedf.jpg">
          <div class="Overlay">
            <div class="Text">Balanced Fielder</div>
          </div>
        </div>
        <div fxLayoutAlign="fit" fxFlex="33.3%" class="Container" (click)="transitionStep3('speedyf')">
          <img class="Image" src="../../assets/speedyf.jpg">
          <div class="Overlay">
            <div class="Text">Speedy Fielder</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayoutAlign="fit" fxFlex="50%" class="Container" (click)="transitionStep3('acatcher')">
          <img class="Image" src="../../assets/acatcher.jpg">
          <div class="Overlay">
            <div class="Text">Strong Arm Catcher</div>
          </div>
        </div>
        <div fxLayoutAlign="fit" fxFlex="50%" class="Container" (click)="transitionStep3('rcatcher')">
          <img class="Image" src="../../assets/rcatcher.jpg">
          <div class="Overlay">
            <div class="Text">React Catcher</div>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxLayoutAlign="fit" fxFlex="50%" class="Container" (click)="transitionStep3('utility')">
          <img class="Image" src="../../assets/utility.jpg">
          <div class="Overlay">
            <div class="Text">Utility Fielder</div>
          </div>
        </div>
        <div fxLayoutAlign="fit" fxFlex="50%" class="Container" (click)="transitionStep3('dh')">
          <img class="Image" src="../../assets/dh.jpg">
          <div class="Overlay">
            <div class="Text">Designated Hitter</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="playerType=='Pitcher' && SelectedPosition==='SP'">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('powersp')">
          <img class="Image" src="../../assets/powerp.jpg">
          <div class="Overlay">
            <div class="Text">Power Pitcher</div>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('balancedsp')">
          <img class="Image" src="../../assets/balancedp.jpg">
          <div class="Overlay">
            <div class="Text">Balanced Approach</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('knuckle')">
          <img class="Image" src="../../assets/knuckle.jpg">
          <div class="Overlay">
            <div class="Text">Knuckleballer</div>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('finnesse')">
          <img class="Image" src="../../assets/finnesse.jpg">
          <div class="Overlay">
            <div class="Text">Finnese Starter</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="playerType=='Pitcher'  && SelectedPosition==='RP'">
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('powerp')">
          <img class="Image" src="../../assets/powerrp.jpg">
          <div class="Overlay">
            <div class="Text">Power Closer</div>
          </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('finnesserp')">
          <img class="Image" src="../../assets/finnesserp.jpg">
          <div class="Overlay">
            <div class="Text">Finnesse Reliever</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100%" fxLayoutAlign="fit" class="Container" (click)="transitionStep2('balancedrp')">
          <img class="Image" src="../../assets/balancedrp.jpg">
          <div class="Overlay">
            <div class="Text">Balanced Approach</div>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="playerType != 'Batter' && playerType != 'Pitcher'">Chose either pitcher or batter in Step 1</div>
  </mat-step>
  <mat-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup" hidden>
      <ng-template matStepLabel>Attributes</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="fourthCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
    <div fxLayout="row" fxLayout.lt-md="column" style="text-align: center;">
      <mat-radio-group [(ngModel)]="playerType" fxFlex="100%">
        <mat-radio-button class="table-radio-button" *ngFor="let pt of playerTypes" [value]="pt">
          {{pt}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="playerType=='Batter'" fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50%" fxFlexFill>
        <table mat-table class="mat-elevation-z8" [dataSource]="selectedHittingArchetype.attributes">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.name}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef>Min</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.min}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef>Max</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.max}} </td>
            <td mat-footer-cell *matFooterCellDef>
              <p [style.color]="selectedHittingArchetype.costSum()===50 ? 'green' : 'red'">Total: </p>
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <input matInput type="number" [(ngModel)]="attribute.value" name="attribute.value" min={{attribute.min}}
                max={{attribute.max}}>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="slider">
            <th mat-header-cell *matHeaderCellDef>Slider</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <mat-slider [max]="attribute.max" [min]="attribute.min" [step]="1" [thumbLabel]="attribute.value"
                [(ngModel)]="attribute.value">
              </mat-slider>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <td mat-footer-cell *matFooterCellDef>
              <p [style.color]="selectedHittingArchetype.costSum()===50 ? 'green' : 'red'">
                {{selectedHittingArchetype.costSum()}} </p>
            </td>
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.cost()}} </td>
          </ng-container>
          <ng-container matColumnDef="BattingArchetype">
            <th mat-header-cell *matHeaderCellDef colspan="6" matTooltip="Select Batting Artchetype that will determine your player identity
            and minimum and maximum caps for every attribute." matTooltipPosition="after">
              <mat-label>Batting Archetype:</mat-label>
              <mat-select [(ngModel)]="selectedHittingArchetype">
                <mat-option *ngFor="let ha of hittingArchetypes" [value]="ha"> {{ha.name}}</mat-option>
              </mat-select>
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['BattingArchetype']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </div>
      <div fxFlex="50%" fxFlexFill>
        <table mat-table class="mat-elevation-z8" [dataSource]="selectedFieldingArchetype.attributes">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.name}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef>Min</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.min}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef>Max</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.max}} </td>
            <td mat-footer-cell *matFooterCellDef>
              <p [style.color]="selectedFieldingArchetype.costSum()===50 ? 'green' : 'red'">Total:</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <input matInput type="number" [(ngModel)]="attribute.value" name="attribute.value" min={{attribute.min}}
                max={{attribute.max}}>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>
          <ng-container matColumnDef="slider">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <mat-slider [max]="attribute.max" [min]="attribute.min" [step]="1" [thumbLabel]="attribute.value"
                [(ngModel)]="attribute.value">
              </mat-slider>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.cost()}} </td>
            <td mat-footer-cell *matFooterCellDef>
              <p [style.color]="selectedFieldingArchetype.costSum()===50 ? 'green' : 'red'">
                {{selectedFieldingArchetype.costSum()}} </p>
            </td>
          </ng-container>
          <ng-container matColumnDef="BattingHands">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              Batting Hand:
              <mat-radio-group [(ngModel)]="Bats">
                <mat-radio-button class="table-radio-button" *ngFor="let bh of BattingHands" [value]="bh">
                  {{bh}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
          <ng-container matColumnDef="Throwing Hand">
            <td mat-footer-cell *matFooterCellDef colspan="6"
              matTooltip="Throwing Hand, also important for fielding (Lefties get penalized as 2B/3B/SS)"
              matTooltipPosition="after">
              <mat-label>Throwing Hand: </mat-label>
              <mat-radio-group [(ngModel)]="Throws">
                <mat-radio-button class="table-radio-button" *ngFor="let bh of ThrowingHands" [value]="bh">
                  {{bh}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
          <ng-container matColumnDef="HittingType">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              Hitting Type:
              <mat-radio-group [(ngModel)]="Hitting">
                <mat-radio-button class="table-radio-button" *ngFor="let bh of HittingTypes" [value]="bh">
                  {{bh}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
          <ng-container matColumnDef="FieldingArchetype">
            <th mat-header-cell *matHeaderCellDef colspan="6"
              matTooltip="Select one of the fielding artchetypes. Every archetpe allows you
            to get basic experience at 3 positions, but Utility one which gives you 5, but at the cost of lowered base TPE." matTooltipPosition="after">
              <mat-label>Fielding Archetype:</mat-label>
              <mat-select [(ngModel)]="selectedFieldingArchetype">
                <mat-option *ngFor="let fa of fieldingArchetypes" [value]="fa"> {{fa.name}}</mat-option>
              </mat-select>
            </th>
          </ng-container>
          <ng-container matColumnDef="FieldingPositions">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              <mat-label>Position 1 (200/200 EXP):</mat-label>
              <mat-select [(ngModel)]="SelectedPosition">
                <mat-option *ngFor="let p of Positions" [value]="p"> {{p}}</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="FieldingPositions2">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              <mat-label>Position 2 (150/200 EXP):</mat-label>
              <mat-select [(ngModel)]="Selected2Position">
                <mat-option *ngFor="let p of Positions" [value]="p"> {{p}}</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="FieldingPositions3">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              <mat-label>Position 3 (100/200 EXP):</mat-label>
              <mat-select [(ngModel)]="Selected3Position">
                <mat-option *ngFor="let p of Positions" [value]="p"> {{p}}</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="FieldingPositions4">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              <mat-label>Position 4 (100/200 EXP):</mat-label>
              <mat-select [(ngModel)]="Selected4Position">
                <mat-option *ngFor="let p of Positions" [value]="p"> {{p}}</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="FieldingPositions5">
            <td mat-footer-cell *matFooterCellDef colspan="2">
              <mat-label>Position 5 (100/200 EXP):</mat-label>
              <mat-select [(ngModel)]="Selected5Position">
                <mat-option *ngFor="let p of Positions" [value]="p"> {{p}}</mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="BasicInfo">
            <th mat-footer-cell *matFooterCellDef colspan="6">
              <form>
                <mat-form-field>
                  <input matInput placeholder="Player Name" [(ngModel)]="PlayerName"
                    [ngModelOptions]="{standalone: true}" required matTooltip="First and Last name of your player."
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Recruited by" [(ngModel)]="Recruited"
                    [ngModelOptions]="{standalone: true}"
                    matTooltip="Optional, if someone recruited you then you can input a user nickname so they can get bonus for recruiting you"
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Number" [(ngModel)]="Number" [ngModelOptions]="{standalone: true}"
                    required matTooltip="Number that your player will wear in the game." matTooltipPosition="after">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <input matInput placeholder="Height" [(ngModel)]="Height" [ngModelOptions]="{standalone: true}"
                    required
                    matTooltip="The height of your player, affects only First Base Defence. Maximum of 6'4'' for batters, 6'8'' for pitchers.'"
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Weight" [(ngModel)]="Weight" [ngModelOptions]="{standalone: true}"
                    required matTooltip="Weight of your player, purely cosmetic." matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Discord" [(ngModel)]="Discord" [ngModelOptions]="{standalone: true}"
                    matTooltip="Optional - you put your nickname and/or id to let teams contact you more easily."
                    matTooltipPosition="after">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <input matInput placeholder="Birthplace" [(ngModel)]="Birthplace"
                    [ngModelOptions]="{standalone: true}" required
                    matTooltip="Birthplace of your player, also dictates his Nation." matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Choose a Birthdate</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="Birthdate" [ngModelOptions]="{standalone: true}"
                    required matTooltip="The date in the sim, league is currently in year 2033 (Season 17)"
                    matTooltipPosition="after">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </form>
            </th>
          </ng-container>
          <ng-container matColumnDef="ContinueSection">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['FieldingArchetype']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          <tr mat-row *matFooterRowDef="['BasicInfo']"></tr>
          <tr mat-row *matFooterRowDef="['HittingType']"></tr>
          <tr mat-row *matFooterRowDef="['BattingHands']"></tr>
          <tr mat-row *matFooterRowDef="['Throwing Hand']"></tr>
          <tr mat-row *matFooterRowDef="['FieldingPositions','FieldingPositions2','FieldingPositions3']"></tr>
          <tr mat-row [hidden]="selectedFieldingArchetype !== fieldingArchetypes[6]"
            *matFooterRowDef="['FieldingPositions4','FieldingPositions5']"></tr>
        </table>
      </div>
    </div>
    <div *ngIf="playerType=='Pitcher'" fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50%">
        <table mat-table class="mat-elevation-z8" [dataSource]="selectedPitchingArchetype.attributes">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after"
              [ngSwitch]="attribute.name">
              <span *ngSwitchCase="'Pitch 1:'">
                <mat-select class="centered aligned" [(ngModel)]="selectedPitches[0]">
                  <mat-option *ngFor="let pitch of pitches" [value]="pitch">
                    {{pitch}}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngSwitchCase="'Pitch 2:'">
                <mat-select class="centered aligned" [(ngModel)]="selectedPitches[1]">
                  <mat-option *ngFor="let pitch of pitches" [value]="pitch">
                    {{pitch}}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngSwitchCase="'Pitch 3:'">
                <mat-select class="centered aligned" [(ngModel)]="selectedPitches[2]">
                  <mat-option *ngFor="let pitch of pitches" [value]="pitch">
                    {{pitch}}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngSwitchCase="'Pitch 4:'">
                <mat-select class="centered aligned" [(ngModel)]="selectedPitches[3]">
                  <mat-option *ngFor="let pitch of pitches" [value]="pitch">
                    {{pitch}}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngSwitchCase="'Pitch 5:'">
                <mat-select class="centered aligned" [(ngModel)]="selectedPitches[4]">
                  <mat-option *ngFor="let pitch of pitches" [value]="pitch">
                    {{pitch}}
                  </mat-option>
                </mat-select>
              </span>
              <span *ngSwitchDefault>{{attribute.name}}</span>
            </td>
            <td mat-footer-cell *matFooterCellDef
              matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
            Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale."
              matTooltipPosition="after">{{selectedPitchingArchetype.velocity.name}} </td>
          </ng-container>
          <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef>Min</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.min}} </td>
            <td mat-footer-cell *matFooterCellDef
              matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
            Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale."
              matTooltipPosition="after">{{selectedPitchingArchetype.velocity.min}} </td>
          </ng-container>
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef>Max</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.max}} </td>
            <td mat-footer-cell *matFooterCellDef
              matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
            Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale."
              matTooltipPosition="after">{{selectedPitchingArchetype.velocity.max}}</td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>Value</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <input matInput type="number" [(ngModel)]="attribute.value" name="attribute.value" min={{attribute.min}}
                max={{attribute.max}}>
            </td>
            <td mat-footer-cell *matFooterCellDef
              matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
            Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale."
              matTooltipPosition="after">{{selectedPitchingArchetype.velocity.value}} </td>
          </ng-container>
          <ng-container matColumnDef="slider">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              <mat-slider [max]="attribute.max" [min]="attribute.min" [step]="1" [thumbLabel]="attribute.value"
                [(ngModel)]="attribute.value">
              </mat-slider>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <mat-select [(ngModel)]="selectedPitchingArchetype.velocity.value"
                matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
              Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale." matTooltipPosition="after">
                <mat-option *ngFor="let velocityValue of velocityValues" [value]="velocityValue">
                  {{velocityValue}}
                </mat-option>
              </mat-select>
            </td>
          </ng-container>
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef>Cost</th>
            <td mat-cell *matCellDef="let attribute" [matTooltip]="attribute.tooltip()" matTooltipPosition="after">
              {{attribute.cost()}} </td>
            <td mat-footer-cell *matFooterCellDef
              matTooltip="Affects Stuff rating, that dictates how often pitcher strikes out opponents.
            Works better with pitches relying on velocity like Fastball, Sinker, Cutter, Splitter, Forkball. Has seperate update scale."
              matTooltipPosition="after">{{selectedPitchingArchetype.velocity.cost()}} </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <p style="text-align: right" [style.color]="selectedPitchingArchetype.costSum()===100 ? 'green' : 'red'">
                Total:
                {{selectedPitchingArchetype.costSum()}}</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="PitchingArchetype">
            <th mat-header-cell *matHeaderCellDef colspan="6"
              matTooltip="Select Pitching Artchetype that will determine your player identity and minimum and maximum caps for every attribute. First 3 archetypes are Relief Pitchers, latter 4 Starters. Choose 1."
              matTooltipPosition="after">
              <mat-label>Pitching Archetype:</mat-label>
              <mat-select [(ngModel)]="selectedPitchingArchetype">
                <mat-option *ngFor="let fa of pitchingArchetypes" [value]="fa"> {{fa.name}}</mat-option>
              </mat-select>
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['PitchingArchetype']"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="['Total']">
        </table>
      </div>
      <div fxFlex="50%">
        <table mat-table class="mat-elevation-z8">
          <ng-container matColumnDef="Throwing Hand">
            <td mat-footer-cell *matFooterCellDef colspan="6"
              matTooltip="Throwing Hand, also important for fielding (Lefties get penalized as 2B/3B/SS)"
              matTooltipPosition="after">
              <mat-label>Throwing Hand: </mat-label>
              <mat-radio-group [(ngModel)]="Throws">
                <mat-radio-button class="table-radio-button" *ngFor="let bh of ThrowingHands" [value]="bh">
                  {{bh}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
          <ng-container matColumnDef="Arm Slot">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <mat-label>Arm slot: </mat-label>
              <mat-radio-group [(ngModel)]="ArmSlot">
                <mat-radio-button class="table-radio-button" *ngFor="let slot of ArmSlots" [value]="slot">
                  {{slot}}
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>
          <ng-container matColumnDef="BasicInfo">
            <th mat-footer-cell *matFooterCellDef colspan="6">
              <form>
                <mat-form-field>
                  <input matInput placeholder="Player Name" [(ngModel)]="PlayerName"
                    [ngModelOptions]="{standalone: true}" required matTooltip="First and Last name of your player."
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Recruited by" [(ngModel)]="Recruited"
                    [ngModelOptions]="{standalone: true}"
                    matTooltip="Optional, if someone recruited you then you can input a user nickname so they can get bonus for recruiting you"
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Number" [(ngModel)]="Number" [ngModelOptions]="{standalone: true}"
                    required matTooltip="Number that your player will wear in the game." matTooltipPosition="after">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <input matInput placeholder="Height" [(ngModel)]="Height" [ngModelOptions]="{standalone: true}"
                    required
                    matTooltip="The height of your player, affects only First Base Defence. Maximum of 6'4'' for batters, 6'8'' for pitchers.'"
                    matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Weight" [(ngModel)]="Weight" [ngModelOptions]="{standalone: true}"
                    required matTooltip="Weight of your player, purely cosmetic." matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Discord" [(ngModel)]="Discord" [ngModelOptions]="{standalone: true}"
                    matTooltip="Optional - you put your nickname and/or id to let teams contact you more easily."
                    matTooltipPosition="after">
                </mat-form-field>
              </form>
              <form>
                <mat-form-field>
                  <input matInput placeholder="Birthplace" [(ngModel)]="Birthplace"
                    [ngModelOptions]="{standalone: true}" required
                    matTooltip="Birthplace of your player, also dictates his Nation." matTooltipPosition="after">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Choose a Birthdate</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="Birthdate" [ngModelOptions]="{standalone: true}"
                    required matTooltip="The date in the sim, league is currently in year 2033 (Season 17)"
                    matTooltipPosition="after">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
              </form>
            </th>
          </ng-container>
          <ng-container matColumnDef="ContinueSection">
            <td mat-footer-cell *matFooterCellDef colspan="6">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </td>
          </ng-container>
          <tr mat-row *matFooterRowDef="['BasicInfo']"></tr>
          <tr mat-row *matFooterRowDef="['Throwing Hand']"></tr>
          <tr mat-row *matFooterRowDef="['Arm Slot']"></tr>
        </table>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matTooltip="Click to generate forum template for your player!"
        (click)="generateForm()">Generate Forum Formatting</button>
      <button mat-button matTooltip="Click to complete the process of creating your player!"
        [disabled]="!forumTemplateReady" (click)="copyAndGoToForums()">Copy to Clipboard & Go to
        forums</button>
      <textarea id="formArea" matInput [value]="formString" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="20" cdkAutosizeMaxRows="40">></textarea>
    </div>
  </mat-step>
</mat-horizontal-stepper>
