/* You can add global styles to this file, and also import other style files */
html, body { 
    max-height: 100%;
    height:100%; 
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #303030;
    //background: rgba(25, 55, 111, 0.3) url("assets/PBE_bgg.png") no-repeat center;
}


.mat-slider-thumb {
    background: url('assets/baseball.svg');  
  }

  .mat-slider {
      margin-left: 5px;
      margin-right: 10px;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 18px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  } 
  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -20px;
    right: -20px;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }

.mat-select-value { 
  text-align: center;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-right: 10px !important;
}