/* You can add global styles to this file, and also import other style files */
html, body { 
    max-height: 100%;
    height:100%; 
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #303030;
    //background: rgba(25, 55, 111, 0.3) url("assets/PBE_bgg.png") no-repeat center;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  display: block;
  min-height: 100vh;
}

.mat-drawer-container {
  min-height: 100vh;
}

.mat-table {
  width: 100%;
  padding: 4px;
}

.mat-slider-thumb {
    background: url('assets/baseball.svg');  
  }

  .mat-slider {
      padding: 2px !important;
  }

  .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 15px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px;
    top: -6px;
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  } 
  .mat-slider-horizontal {
    height: 30px !important;
  }

  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }

  .mat-slider-horizontal .mat-slider-thumb-container {
    top: 4px !important;
  }

.mat-select-value { 
  text-align: center;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-right: 10px !important;
}

tr.mat-header-row, tr.mat-footer-row, tr.mat-row {
  height: 4vh !important; 
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


th, td, tr {
  margin-bottom: 0px;
  padding: 2px;
}